<h4>Ride Summary:</h4>
<table>
    <tr>
        <td>Distance:</td>
        <td>{distance:.1f} <strong>km</strong></td>
        <td>20m Max Power:</td>
        <td></td>
    </tr>
    <tr>
        <td>Duration:</td>
        <td>{duration}</td>
        <td>5m Max Power:</td>
        <td></td>
    </tr>
    <tr>
        <td>Average Speed:</td>
        <td>{avg_speed:.1f} <strong>km/h</strong></td>
        <td>2m Max Power</td>
        <td></td>
    </tr>
    <tr>
        <td>Average Heart Rate</td>
        <td>{avg_hr:.0f} <strong>BPM</strong></td>
        <td>1m Max Power</td>
        <td></td>
    </tr>
    <tr>
        <td>Average Power (watts)</td>
        <td>{avg_power:.0f}</td>
        <td></td>
        <td></td>
    </tr>
</table>