<h3>Ride Summary:</h3>
<table>
    <tr>
        <td>Distance:</td>
        <td>{distance}</td>
        <td>20m Max Power:</td>
        <td></td>
    </tr>
    <tr>
        <td>Duration:</td>
        <td>{duration}</td>
        <td>5m Max Power:</td>
        <td></td>
    </tr>
    <tr>
        <td>Average Speed (kph)</td>
        <td>{avg_speed}</td>
        <td>2m Max Power</td>
        <td></td>
    </tr>
    <tr>
        <td>Average Heart Rate (bpm)</td>
        <td>{avg_hr}</td>
        <td>1m Max Power</td>
        <td></td>
    </tr>
    <tr>
        <td>Average Power (watts)</td>
        <td>{avg_power}</td>
        <td></td>
        <td></td>
    </tr>
</table>